@model Aplikacija.Database.Vozilo

@{
    ViewBag.Title = "ObrisiVozilo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="text-center"><u>Brisanje vozila</u></h2>

<div>
    <h4 class="text-center"> Informacije o vozilu</h4>
    <hr />
    <dl class="dl-horizontal text-center">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Brisi vozilo" class="btn btn-danger" /> |
            @Html.ActionLink("Nazad na listu vozila", "Vozila")
        </div>
        <br />
    }
</div>
